html {
    font-family: sans-serif;
    background-color: cornflowerblue;
  }

.btn_dev{
    background-color: purple;
    color: white;
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
    text-shadow: 4px 2px 2px black;
    width: 150px;
    height: 100px;
    padding: 20px;
  }

  .btn{
    background-color: purple;
    color: greenyellow;
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
    width: 150px;
    height: 100px;
    padding: 20px;
  }